body {
    padding: 0;
    header {
        background: linear-gradient(rgba(121, 119, 119, 0.192),rgba(121, 119, 119, 0.192)),url("../../../public/img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        .banner {
            margin-top: 25vh;
            .container {
                height: 30vh;
            }
        }
    }
    .section2et3 {
        h1 {
            color: black;
        }
    }
    #section4 {
        .container {
            display: flex;
            justify-content: center;
            div {
                width: 50%;
            }
        }
    }
    #6testimonial {
        .container {
            display: flex;
            justify-content: center;
            div:first-child {
                width: 50%;
            }
        }
        
    }
.container {
    width: 75%;
}
#carouselExampleIndicators2 {
    .card {
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);

    }
}
}